In [1]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_parquet('data/test_trx.parquet')

In [3]:
df.head()

,cl_id,Age,Gender,Height,ICUType,Weight,Albumin,ALP,ALT,AST,...,SaO2,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,event_time,target_target_flag,trx_count
0,132648,"[87.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[0.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0...","[157.5, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1...","[2.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0...","[66.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....",...,"[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, 144.0, 157.0, 150.0, -1.0, 174.0, 161.0...","[-1.0, 37.8, 37.8, 37.8, -1.0, 37.8, 37.9, 38....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, 1112.5, 40.0, -1.0, -1.0, 220.0, 110.0,...","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[0.0, 0.00625, 0.027083332, 0.047916666, 0.058...",0.0,77
1,133164,"[57.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0...","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[4.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0...","[63.5, 63.5, -1.0, 63.5, 63.5, -1.0, 63.5, 63....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....",...,"[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, 168.0, 211.0, 106.0, 129.0, -1.0, 109.0...","[-1.0, 36.5, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, 10.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[0.0, 0.00625, 0.008333334, 0.027083332, 0.047...",0.0,59
2,133492,"[74.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0...","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0...","[79.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....",...,"[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, 142.0, 115.0, 141.0, 129.0, -1.0, 113.0...","[-1.0, 37.0, -1.0, -1.0, -1.0, -1.0, -1.0, 37....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, 100.0, 125.0, -1.0, -1.0, 1...","[-1.0, -1.0, -1.0, -1.0, -1.0, 8.4, -1.0, -1.0...","[0.0, 0.058333334, 0.0625, 0.072916664, 0.0937...",0.0,59
3,133715,"[59.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[0.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0...","[154.9, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1...","[3.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0...","[46.9, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....",...,"[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, 36.6, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, 3.5, -1.0...","[0.0, 0.0625, 0.06458333, 0.074999996, 0.09583...",0.0,84
4,134582,"[83.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[0.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0...","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[2.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0...","[62.9, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....",...,"[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, 36.1, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[-1.0, -1.0, -1.0, 350.0, -1.0, 30.0, 45.0, 25...","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[0.0, 0.0125, 0.020833334, 0.03125, 0.03541666...",1.0,64

In [9]:
df1 = pd.read_csv('../scenario_age_pred/data/tr')

In [11]:
df1

       client_id  bins
0          24662     2
1           1046     0
2          34089     2
3          34848     1
4          47076     3
...          ...   ...
29995      14303     1
29996      22301     2
29997      25731     0
29998      16820     3
29999       5265     0

[30000 rows x 2 columns]

In [24]:
df[df['target_target_flag'].notna()][['cl_id', 'target_target_flag']]

       cl_id  target_target_flag
0     132648                 0.0
1     133164                 0.0
2     133492                 0.0
3     133715                 0.0
4     134582                 1.0
...      ...                 ...
3195  136680                 0.0
3196  138107                 0.0
3197  141432                 0.0
3198  141548                 0.0
3199  141778                 0.0

[3200 rows x 2 columns]

In [25]:
df[df['target_target_flag'].notna()][['cl_id', 'target_target_flag']].to_csv('data/train_target.csv', index=False)

In [8]:
df.to_csv('data/train.csv', index=False)

KeyboardInterrupt:

In [7]:
pd.read_csv('data/train.csv')

,Unnamed: 0,cl_id,Age,Gender,Height,ICUType,Weight,Albumin,ALP,ALT,...,SaO2,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,event_time,target_target_flag,trx_count
0,0,132648,[87. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ 0. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[157.5 -1. -1. -1. -1. -1. -1. -1...,[ 2. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[66. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ -1. 144. 157. 150. -1. 174. 161. 151. 174. ...,[-1. 37.8 37.8 37.8 -1. 37.8 37.9 38.1 38.2 ...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1.0000e+00 1.1125e+03 4.0000e+01 -1.0000e+...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. ...,[0. 0.00625 0.02708333 0.04791667 0...,0.0,77
1,1,133164,[57. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ 1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ 4. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[63.5 63.5 -1. 63.5 63.5 -1. 63.5 63.5 63.5 ...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. ...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ -1. 168. 211. 106. 129. -1. 109. 177. 97. ...,[-1. 36.5 -1. -1. -1. -1. -1. -1. -1. ...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ -1. -1. -1. -1. -1. -1. 10. -1. -1. ...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. ...,[0. 0.00625 0.00833333 0.02708333 0...,0.0,59
2,2,133492,[74. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ 1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ 1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[79. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ -1. 142. 115. 141. 129. -1. 113. 160. 133. ...,[-1. 37. -1. -1. -1. -1. -1. 37.2 -1. ...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ -1. -1. -1. 100. 125. -1. -1. 125...,[-1. -1. -1. -1. -1. 8.4 -1. -1. -1. ...,[0. 0.05833333 0.0625 0.07291666 0...,0.0,59
3,3,133715,[59. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ 0. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[154.9 -1. -1. -1. -1. -1. -1. -1...,[ 3. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[46.9 -1. -1. -1. -1. -1. -1. -1. -1. ...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. ...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. 36.6 -1. -1. -1. -1. -1. -1. -1. ...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ -1. -1. -1. -1. -1. -1. -1. -1. -1. ...,[-1. -1. -1. -1. -1. -1. 3.5 -1. -1. ...,[0. 0.0625 0.06458333 0.075 0...,0.0,84
4,4,134582,[83. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ 0. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ 2. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[62.9 -1. -1. -1. -1. -1. -1. -1. -1. ...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. 36.1 -1. -1. -1. -1. -1. -1. 37.9 ...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1....,[ -1. -1. -1. 350. -1. 30. 45. 25. 40. ...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. ...,[0. 0.0125 0.02083333 0.03125 0...,1.0,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7195,7195,150272,[59. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ 1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[182.9 -1. -1. -1. -1. -1. -1. -1...,[ 2. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[119.9 -1. -1. -1. -1. -1. -1. -1...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,...,[-1. -1. -1. -1. -1. -1. -1. -1. 99. -1. -1. -...,[ -1. -1. -1. -1. -1. 106. 107. 98. -1. ...,[-1. -1. -1. -1. -1. 35.9 35.9 36. -1. ...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ -1. -1. -1. -1. -1. 730. -1. 200. -1. ...,[-1. -1. -1. -1. 13.5 -1. -1. -1. -1. ...,[0. 0.02708333 0.04166667 0.05833333 0...,NaN,79
7196,7196,150372,[82. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ 0. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[157.5 -1. -1. -1. -1. -1. -1. -1...,[ 2. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[54.4 -1. -1. 54.4 54.4 -1. 54.4 54.4 54.4 ...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,...,[-1. -1. -1. -1. -1. 98. -1. -1. -1. -1. -1. -...,[ -1. -1. -1. 136. 119. -1. 106. 105. 107. ...,[-1. -1. -1. 35. 35. -1. 35. 35.5 35.6 ...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1....,[ -1. -1. 150. 880. -1. -1. -1. -1. 575. ...,[-1. -1. -1. 7. -1. -1. -1. -1. -1. ...,[0. 0.00416667 0.0125 0.01875 0...,NaN,91
7197,7197,150617,[56. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ 1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ 3. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[102.5 102.5 102.5 102.5 102.5 102.5 102.5 102...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ -1. -1. -1. -1. -1. -1. -1. -1. -1. ...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. 37.3 -1. -1. 37.6 -1. -1. -1. 38.7 ...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ -1. -1. -1. -1. -1. 650. 250. 200. -1. ...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. ...,[0. 0.11458334 0.125 0.14583333 0...,NaN,46
7198,7198,151258,[78. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ 0. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[165.1 -1. -1. -1. -1. -1. -1. -1...,[ 1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[61.8 -1. -1. -1. 61.8 61.8 61.8 -1. 61.8 ...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. ...,[-1. -1. 63. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. 42. -1. -1. -1. -1. -1. -1. -1. -1. -...,...,[-1. 99. -1. -1. -1. -1. -1. 99. -1. -1. -1. -...,[ -1. -1. -1. -1. 154. 160. 160. -1. 143. ...,[-1. -1. -1. -1. 36.7 -1. -1. -1. -1. ...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ -1. -1. -1. -1. 400. -1. -1. -1. 180. ...,[-1. -1. 11.8 -1. -1. -1. -1. -1. -1. ...,[0. 0.01041667 0.01666667 0.02708333 0...,NaN,64
7199,7199,152020,[80. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ 0. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[167.6 -1. -1. -1. -1. -1. -1. -1...,[ 1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[66.3 -1. 66.3 66.3 66.3 66.3 -1. 66.3 66.3 ...,[-1. -1. -1. -1. -1. -1. 2.8 -1. -1. ...,[-1. -1. -1. -1. -1. -1. 43. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. 51. -1. -1. -1. -1. -...,...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[ -1. -1. -1. -1. -1. -1. -1. -1. -1. ...,[-1. -1. -1. -1. -1. 39. -1. -1. -1. ...,[-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -...,[-1. -1. -1. -1. -1. -1. 0.1 -1....,[ -1. -1. 75. -1. -1. -1. -1. 30. -1. ...,[-1. -1. -1. -1. -1. -1. 11.4 -1. -1. ...,[0. 0.00208333 0.0125 0.01666667 0...,NaN,94

In [28]:
df.columns = ['cl_id', 'Age', 'Gender', 'Height', 'ICUType', 'Weight', 'Albumin',
       'ALP', 'ALT', 'AST', 'Bilirubin', 'BUN', 'Cholesterol', 'Creatinine',
       'DiasABP', 'FiO2', 'GCS', 'Glucose', 'HCO3', 'HCT', 'HR', 'K',
       'Lactate', 'Mg', 'MAP', 'MechVent', 'Na', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'PaCO2', 'PaO2', 'pH', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC',
       'event_time', 'target_target_flag', 'trx_count']

In [29]:
df.to_parquet('data/test_trx.parquet')

In [15]:
df = pd.read_parquet('data/test_trx.parquet')

In [17]:
df['cl_id'].to_csv('data/test_ids.csv', index=0)

In [23]:
df1 = pd.read_csv('data/test_ids.csv')

In [24]:
df1

       cl_id
0     132648
1     133164
2     133492
3     133715
4     134582
...      ...
7195  150272
7196  150372
7197  150617
7198  151258
7199  152020

[7200 rows x 1 columns]

In [30]:
import pickle
import sys
sys.path.append('../../')
from embeddings_validation.file_reader import TargetFile

In [31]:
path = '/home/test_dock/coles-paper/experiments/physionet/conf/embeddings_validation.work/folds/target_test.pickle'

target_scores = TargetFile.load(path)

In [33]:
target_scores.

['cl_id']

In [34]:
with open(path, 'rb') as f:
    out = pickle.load(f)

In [35]:
out

In [36]:
out.df

Empty DataFrame
Columns: [cl_id, target_target_flag]
Index: []

In [39]:
train = pd.read_csv('data/train_target.csv')

In [40]:
test = pd.read_parquet('data/test_trx.parquet')

In [42]:
train

       cl_id  target_target_flag
0     132648                 0.0
1     133164                 0.0
2     133492                 0.0
3     133715                 0.0
4     134582                 1.0
...      ...                 ...
3195  136680                 0.0
3196  138107                 0.0
3197  141432                 0.0
3198  141548                 0.0
3199  141778                 0.0

[3200 rows x 2 columns]